<div class="box curRoom">
    <i *ngIf="!chatService.curRoom">Connecting...</i>
    <i *ngIf="chatService.curRoom">{{chatService.curRoom}}</i>
</div>
<form class="inputForm" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <input
        autofocus
        type="text"
        formControlName="room"
        autocomplete="off"
        #roomInput
        >
    <button class="button">Join</button>
</form>
<div class="box">
    Users in Room
</div>
<div class="flexVertical flexFull scrollable box usersInRoom">
    <ul>
        <li *ngFor="let user of chatService.usersInRoom" class="box flexHorizontal chatRoomUser">
            <div class="chatRoomUserName">
                {{user.username}}
            </div>
            <a class="button infoButton" routerLink="/profile/{{user.id}}">i</a>
        </li>
    </ul>
</div>
