<button (click)="onClick()" class="button" type="button" name="button">GetGames</button>

<div class="flexVertical flexFull box gameList">
    <ul>
        <li *ngFor="let game of gameListService.gameList"
            (click)="onSelect(game)"
            class="box gameListElement">

            {{ game.name }}
            <div    [@listElementState]="game.state"
                    class="flexVertical"
                    style="opacity: 0;"
            >
                <div class="gameListElementInfo">
                    Players: {{game.curPlayers}}/{{game.maxPlayers}}
                    <br>
                    Platzhalter hält den Platz
                </div>
                <button class="button" (click)="joinActiveGame($event)">Join</button>
            </div>
        </li>
    </ul>
</div>

<form class="inputForm" [formGroup]="createGameForm" (ngSubmit)="createGame()">
    <input
        autofocus
        type="text"
        formControlName="gameName"
        autocomplete="off"
        #gameInput
        >
    <button class="button">Create</button>
</form>
