<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular Messenger</title>
    <link rel='stylesheet' href='/stylesheets/menu.css'/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
        <my-app class="box flexVertical flexFull">Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
