@font-face {
    font-family: Miso;
    src: url(miso.otf);
}

@font-face {
    font-family: Miso;
    src: url(miso-bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Miso;
    src: url(miso-light.otf);
    font-weight: lighter;
}


/* CSS VARIABLES */

:root {
    --main-text-color: rgb(240, 255, 255);
    --text-color-passive: rgb(160,180,180);
	--placeholder-color: rgb(60, 70, 68);
    --main-font: 300 24px Miso;

    --main-bg-color: rgb(38, 35, 45);
    --sec-bg-color: rgb(32, 48, 48);
    --third-bg-color: rgb(30, 40, 50);
    --third-bg-color-light: rgb(30, 50, 60);
    --third-bg-color-lighter: rgb(35, 60, 70);
    --fourth-bg-color: rgb(30, 35, 40);
    --fourth-bg-color-light: rgb(45, 50, 60);

    --button-color-passive: rgb(16, 80, 80);
    --button-color-active: rgb(32, 160, 160);
    --button-color-deactivated: rgb(100, 100, 100);
    --button-font-color-deactivated: rgb(140,140,140);

    --chatMessage-odd-bg-color: rgb(60,60,60);

    --border-radius: 5px;
    --side-space: 50px;
    --main-margin: 5px;
    --main-padding: 5px;
    --main-form-height: 1.8em;

    --roomBox-width: 350px;
    --header-height: 120px;
    --roomEditBox-height: 120px;
    --user-info-width: 280px;
    --profilePic-size: 115px;
    --auth-width: 450px;
    --shoutouts-width: 700px;
    --profile-width: 800px;
    --error-width: 650px;

    --default-avatar: url(http://localhost:3000/img/DummyAvatar.svg);
}


/* CSS media querries */
/* no blank space when window is less then 1280px wide*/

@media (max-width: 1280px) {
    :root {
        --side-space: 0px;
    }
}

html, body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    min-height: 600px;
    min-width: 800px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    margin: 0px;
    color: var(--main-text-color);
    font: var(--main-font);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    padding: 5px;
}

h2 {
    margin-left: calc(var(--main-margin)*2);
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0px;
}

input {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font: var(--main-font);
    border: 2px solid var(--button-color-passive);
    border-radius: 5px;
    padding-left: var(--main-padding);
}

my-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--------------*/
/* GLOBAL STUFF */
/*--------------*/

.flexVertical {
    display: flex;
    flex-direction: column;
    /* firefox scrolling */
    min-height: 0;
}

.flexHorizontal {
    display: flex;
    flex-direction: row;
    /* firefox scrolling */
    min-height: 0;
}

.flexFull {
    flex-grow: 1;
    /* firefox scrolling */
    min-height: 0;
}

.scrollable {
    overflow-y: auto;
    min-height: 0;
}

.button {
    border-radius: 5px;
    border: 2px solid var(--button-color-passive);
    margin: var(--main-margin);
    padding: 5px 10px;
    background-color: var(--button-color-passive);
    color: #FFF;
    font: var(--main-font);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.button:hover {
    border-color: var(--button-color-active);
    background-color: var(--main-bg-color);
    cursor: pointer;
}

.button:disabled {
    color: var(--button-font-color-deactivated);
    background-color: var(--button-color-deactivated);
    border-color: var(--button-color-deactivated);
}

.button:disabled:hover {
    cursor: not-allowed;
}

.box {
    /* 		border: 5px double rgb(81, 133, 147);		*/
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    padding: var(--main-padding);
}

.form-group label {
    padding: var(--main-padding);
    margin-right: 1em;
}

.form-group input {
    flex-grow: 1;
    border-color: var(--third-bg-color);
}

.inputForm {
    display: flex;
    height: var(--main-form-height);
}

.inputForm input {
    flex-basis: 100%;
    margin: var(--main-margin);
}

.inputForm input:focus {
    outline: 0;
    border-color: var(--button-color-active);
    /* 		box-shadow: 0 0 3px 1px var(--button-color-passive);		*/
}

.inputForm .ng-touched.ng-invalid {
    border-color: var(--button-color-passive);
}

.inputForm.ng-invalid .button {
    color: var(--button-font-color-deactivated);
    background-color: var(--button-color-deactivated);
    border-color: var(--button-color-deactivated);
}

.inputForm.ng-invalid .button:hover {
    cursor: not-allowed;
}


.tabContent {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--third-bg-color-light);
    margin: var(--main-margin);
    margin-top: 0px;
}

.authButtonWrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--main-padding);
}

.tabs {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tabs li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid var(--third-bg-color);
    margin: var(--main-margin);
    margin-bottom: 0px;
    padding: 5px 10px;
    background-color: var(--third-bg-color);
    color: var(--text-color-passive);
    font: var(--main-font);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border-bottom-color: var(--third-bg-color);
    flex-grow: 1;
}

.tabs li:hover {
    border-color: var(--button-color-active);
    background-color: var(--main-bg-color);
    cursor: pointer;
    border-bottom-color: var(--third-bg-color);
}

/* prevents angulars css outline on click */
.tabs li:active {
    outline: none;
}

.tabs li.activeTab {
    color: var(--main-text-color);
    background-color: var(--third-bg-color-light);
    border-color: var(--third-bg-color-light);
    outline-style: none;
}

.tabs li.activeTab:hover {
    /* background-color: var(--third-bg-color-lighter); */
    border-color: var(--third-bg-color-lighter);
    border-bottom-color: var(--third-bg-color-light);
    outline-style: none;
}

.ng-touched.ng-invalid {
    border-color: rgb(255,20,20);
}


/*---------------*/
/* CONTENT SPACE */
/*---------------*/

.header {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em;
    background-color: var(--sec-bg-color);
    order: 1;
    flex-basis: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.headerBlankSpace {
    flex-shrink: 1;
    width: var(--user-info-width);
}

.centralHeader {
    flex-grow: 1;
}

.centralHeader h1 {
    margin-top: 0.15em;
    margin-bottom: 0.1em;
    font-size: 2.5em;
}

.user-info {
    min-width: var(--user-info-width);
    margin-left: 20px;
}

.profilePic {
    width: var(--profilePic-size);
	height: var(--profilePic-size);
	background: var(--main-bg-color);
    background-image: var(--default-avatar);
    background-size: var(--profilePic-size) var(--profilePic-size);
	border-radius: calc(var(--profilePic-size)/2);
    border-top-right-radius: 0px;
    overflow: hidden;
}

.infoVertical {
    justify-content: space-between;
    flex-grow: 1;
}

.username {
    width: 100%;
    line-height: 2em;
    background: var(--main-bg-color);
    text-align: left;
}

.logout {
    text-align: right;
}

.headerButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.activeNav {
    background-color: var(--button-color-active);
    border-color: var(--button-color-active);
}

.activeNav:hover {
    background-color: var(--button-color-passive);
}

.homeContent {
    padding: 15px;
    padding-top: 25px;
}

.home {
    background-color: var(--sec-bg-color);
    display: flex;
    flex-direction: row;
}

.shoutout-container {
    flex-basis: 30%;
    flex-grow: 3;
    background-color: var(--main-bg-color);
}

.shoutouts {
    align-self: center;
    height: 100%;
    width: 100%;
    max-width: var(--shoutouts-width);
}

.shoutoutList {
    overflow-y: scroll;
}

.auth-container {
    max-width: var(--auth-width);
    flex-basis: 30%;
    flex-grow: 3;
    background-color: var(--main-bg-color);
}

.authContent {
    align-self: center;
    width: 100%;
    max-width: var(--auth-width);
}

.profile {
    align-self: center;
    height: 100%;
    width: 100%;
    max-width: var(--profile-width);
}

.profileContent {
    background-color: var(--third-bg-color-light);
}

.profileRow {
    justify-content: space-between;
}

.chat {
    background-color: var(--sec-bg-color);
}

.chatContent {
    background-color: var(--main-bg-color);
}

.chatMessage {
    list-style-type: none;
}

.chatMessage:nth-child(odd){
    background-color: var(--chatMessage-odd-bg-color);
}

.chatRoom {
    /* background-color: var(--main-bg-color); */
}

.curRoom {
    background-color: var(--third-bg-color);
    text-align: center;
}

.usersInRoom {
    background-color: var(--third-bg-color);
}

.chatRoomUser {
    justify-content: space-between;
    background-color: var(--fourth-bg-color);
    border: 2px solid var(--fourth-bg-color-light);
}

.chatRoomUserName {
    padding-top: calc(0.5*var(--main-padding));
    padding-left: calc(0.5*var(--main-padding));
    padding-right: calc(0.5*var(--main-padding));
}

.infoButton {
    font-size: 18px;
    margin: 0px;
    padding: 0px 10px;
    padding-top: 4px;
}

.chatSide {
    background-color: var(--main-bg-color);
    min-width: var(--roomBox-width);
}

.gameList {
    background-color: var(--third-bg-color);
}

.gameListElement {
    overflow-y: hidden;
    cursor: pointer;
    padding-top: calc(1.5*var(--main-padding));
    padding-left: calc(1.5*var(--main-padding));
    padding-right: calc(1.5*var(--main-padding));
    background-color: var(--fourth-bg-color);
    border: 2px solid var(--fourth-bg-color-light);
}

.gameListElementInfo {
    margin-top: 0.3em;
}

.lobby {
    background-color: var(--sec-bg-color);
}

.lobbyPlayers {
    background-color: var(--main-bg-color);
}

.lobbyChat {
    background-color: var(--main-bg-color);
}

.lobbySettings {
    background-color: var(--main-bg-color);
}

/*-------------*/
/* BLANK SPACE */
/*-------------*/

.sideSpace {
    flex-grow: 1;
    /* flex: 0 var(--side-space); */
}

.leftBlankSpace {
    order: 2;
}

.rightBlankSpace {
    order: 6;
}

.flexSide {
    background-color: var(--sec-bg-color);
    order: 5;
    flex: 0 1 250px;
    height: calc(100% - var(--header-height) - var(--main-margin)*5);
}

/* Style the placeholder of the chat input */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--placeholder-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--placeholder-color);
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--placeholder-color);
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--placeholder-color);
}

#flexBox {
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

#header_buttons button {
    width: 80px;
    height: var(--main-form-height);
}

#main_header {
    width: 100%;
    margin-left: calc(var(--main-margin)*2);
}

#chatBox {
    background-color: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: calc(100% - var(--main-margin)*6 - var(--main-form-height));
}

#messageBox {
    order: 3;
    flex: 1;
    height: 100%;
}

#chat_messages {
    flex: 1;
    background: var(--third-bg-color);
    height: calc(100% - var(--main-margin)*9 - var(--main-form-height));
    overflow-y: scroll;
    list-style-type: none;
}

#chat_messages li {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    word-break: break-all;
}

#chat_messages li:nth-child(odd) {
    background: rgb(48, 48, 48);
}

#roomBox {
    order: 4;
    flex: 0 1 200px;
    height: calc(100%);
}

#usersBox {
    /*background-color: #12a471;*/
    background-color: var(--third-bg-color);
    height: calc(100% - var(--roomEditBox-height) - var(--main-margin)*8);
}

#chat_users {
    background-color: rgb (230, 230, 230);
    overflow-y: scroll;
    list-style-type: none;
}

#roomEditBox {
    background-color: var(--third-bg-color);
    height: var(--roomEditBox-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#roomHeader {
    margin-bottom: calc(var(--main-margin)*3);
    margin-top: calc(var(--main-margin)*3);
    margin-left: var(--main-margin);
}

#roomForm {
    display: flex;
    height: var(--main-form-height);
}

#roomForm input {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font: var(--main-font);
    flex-basis: 100%;
    border: 2px solid var(--button-color-passive);
    border-radius: 5px;
    margin: var(--main-margin);
    padding-left: var(--main-padding);
}

#roomForm input:focus {
    outline: 0;
    border-color: var(--button-color-active);
    /* 		box-shadow: 0 0 3px 1px var(--button-color-passive);		*/
}

#roomForm button {
    padding-top: 2px;
    flex-basis: 60px;
}

#side_header {
    width: 100%;
    margin-left: calc(var(--main-margin)*2);
    margin-bottom: calc(var(--main-margin)*3);
}

#gameBox {
    height: calc(100% - var(--main-margin)*8 - var(--main-form-height));
}

#gameList {
    background: var(--third-bg-color);
    height: calc(100% - var(--main-margin)*9 - var(--main-form-height));
    list-style-type: none;
}

#lobbyContent {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--main-margin)*6 - var(--main-form-height));
}

#playerBox {
    order: 2;
    flex: 2 1 auto;
}

#playerList {
    list-style: none;
}

#lobbyChat {
    order: 3;
    flex: 2 1 100%;
    display: flex;
    flex-direction: column;
}
